body {
  background: #ffffff;
  font-family: 'Content', Verdana;
}

#landing-page::after {
  content: '';
  /* background: url("https://source.unsplash.com/collection/952655/1600x900"); */
  /* Cambodia */
  /* background: url("https://source.unsplash.com/collection/970826/1600x900"); */
  /* Worship */
  /* background: url("https://source.unsplash.com/collection/2434997/1600x900"); */
  /* Cambodia */
  background: url('https://source.unsplash.com/user/svprak/1920x1080');
  /* SVPRAK*/
  /* background: url("https://source.unsplash.com/collection/2237674/1600x900"); */
  /* Cambodia Project */

  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.search-box-center {
  margin-top: 350px;
}

.login-box-center {
  margin-top: 110px;
}

.taprom-font {
  font-family: 'Taprom', cursive;
}

.content-font {
  font-family: 'Content', cursive;
}

.fontForSongLyric {
  font-family: 'Khmer', cursive;
  font-size: 1em;
}

.metalFont {
  font-family: 'Metal', cursive;
}

.bookTitle-1 {
  font-family: 'Moul', cursive;
  font-size: 1.5em;
}

#randomSongTitle {
  font-size: 0.8em;
  color: red;
}

.title-size-1 {
  font-family: 'Moul', cursive;
  font-size: 1em;
}

.title-size-6 {
  font-family: 'Moul', cursive;
  font-size: 6em;
}

.title-size-2 {
  font-family: 'Moul', cursive;
  font-size: 1.7em;
  margin-bottom: 25px;
}

.title-size-3 {
  font-family: 'Moul', cursive;
  font-size: 3em;
}

.title-size-4 {
  font-family: 'Moul', cursive;
  font-size: 4em;
}

.title-size-5 {
  font-family: 'Moul', cursive;
  font-size: 5em;
}

.bookTitle-3 {
  font-family: 'Moul', cursive;
  font-size: 0.8em;
}

.nokora-font {
  font-family: 'Nokora', cursive;
}

.listbook {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a>img:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.operation {
  border-top: 1px solid #c0c0c0;
  padding-top: 10px;
}

.descrition {
  font-size: 0.8em;
}

.svp_inputWidth {
  width: 200px;
}

.table-row-highlight:hover {
  background: rgb(226, 255, 250);
}

.myForm input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #007bff;
}

.myForm button {
  border-radius: 0;
}

.loginAs {
  color: red;
}

li i.fa-unlock {
  display: none;
}

li:hover i.fa-unlock {
  display: block;
  color: #fff;
}

li:hover i.fa-lock {
  display: none;
}

li i.fa-lock {
  display: block;
  position: absolute;
  color: rgba(38, 43, 48, 0.5);
}

.lock {
  margin-left: 800px;
}

.sign-out i.fa-lock {
  display: none;
}

.sign-out:hover i.fa-lock {
  display: block;
  color: #fff;
}

.sign-out:hover i.fa-unlock {
  display: none;
}

.sign-out i.fa-unlock {
  display: block;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
}

.warning {
  color: red;
}

#delete-form {
  display: inline;
}

#search-box {
  height: 130px;

  /* background: rgba(6, 41, 243, 0.966); */
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(0, 0, 224, 1)); */
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5691c8, #457fca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: url("https://source.unsplash.com/collection/179297/1600x130"); */

}

#main-footer {
  background: rgba(255, 254, 253, 0.966);
}

/* .img-hover:hover {
  border-bottom: 2px solid rgba(0, 17, 250, 0.849);
} */

/* TOOL TIPS */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Print Stylesheet */
@media print {
  * {
    margin: 0;
    color: #000;
    box-shadow: none;
    text-shadow: none;
    background: transparent !important;
  }

  #randomSongTitle,
  a,
  hr,
  .print-button,
  header,
  #search-box,
  footer {
    display: none;
  }

  #lyric {
    font-size: 1.2em;
    width: 100%;
  }

  @page {
    margin: 2cm;
  }

  @page: first {
    margin: 0cm;
  }

  @page: last {
    margin: 5cm;
  }

  @page: left {
    margin: 2cm 1.5cm 2cm 2cm;
  }

  @page: right {
    margin: 2cm 2cm 2cm 1.5cm;
  }

  article {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.5em !important;
  }

  a:after {
    content: '('attr(href) ')';
  }
}